<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <Exclude>[*.Tests]*,[*.UnitTests]*,[*.IntegrationTests]*,[*Api*]*,[*.Shared.Application*]*</Exclude>
          <ExcludeByFile>
            **/Migrations/**;
            **/*Extensions.cs;
            **/*Behavior.cs;
            **/*DbContext.cs;
            **/DependencyInjection.cs;
          </ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCode,CompilerGenerated</ExcludeByAttribute>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>